Repository ROpdebee/mb-userscripts, pull requests merged in 2021-11, with the labels that each got.

#195 fix(caa upload): Remove duplicate and placeholder images
  src/lib/util/blob.ts
  src/mb_enhanced_cover_art_uploads/fetch.ts
  src/mb_enhanced_cover_art_uploads/providers/7digital.ts
  src/mb_enhanced_cover_art_uploads/providers/bandcamp.ts
  src/mb_enhanced_cover_art_uploads/providers/base.ts
  src/mb_enhanced_cover_art_uploads/providers/deezer.ts
  src/mb_enhanced_cover_art_uploads/providers/soundcloud.ts
  src/mb_enhanced_cover_art_uploads/ui/main.tsx
  tests/lib/util/blob.test.ts
  tests/mb_enhanced_cover_art_uploads/fetch.test.ts
  tests/mb_enhanced_cover_art_uploads/form.test.ts
  tests/mb_enhanced_cover_art_uploads/providers/7digital.test.ts
  tests/mb_enhanced_cover_art_uploads/providers/bandcamp.test.ts
  tests/mb_enhanced_cover_art_uploads/providers/base.test.ts
  tests/mb_enhanced_cover_art_uploads/providers/deezer.test.ts
  tests/test-data/__recordings__/bandcamp-provider_3598072612/deduplicates-track-images-by-thumbnail-content_882253553/recording.har
  tests/test-data/__recordings__/bandcamp-provider_3598072612/grabs-track-covers_807042597/recording.har
  tests/test-data/__recordings__/deezer-provider_3447087447/filters-out-placeholder-images_2482881981/recording.har
Labels: bug, mb_enhanced_cover_art_uploads

#217 Handle images without file extension
  src/mb_enhanced_cover_art_uploads/seeding/atisket.tsx
Labels: bug, mb_enhanced_cover_art_uploads

#219 feat(caa upload): add AllMusic provider
  src/mb_enhanced_cover_art_uploads/docs/supported_providers.md
  src/mb_enhanced_cover_art_uploads/providers/allmusic.ts
  src/mb_enhanced_cover_art_uploads/providers/index.ts
  tests/mb_enhanced_cover_art_uploads/providers/allmusic.test.ts
  tests/test-data/__recordings__/allmusic-provider_1998999876/extracting-images_1310741912/extracts-covers-for-release_2308446907/recording.har
  tests/test-data/__recordings__/allmusic-provider_1998999876/extracting-images_1310741912/throws-on-non-existent-release-redirecting-to-album_3064214526/recording.har
  tests/test-data/__recordings__/allmusic-provider_1998999876/extracting-images_1310741912/throws-on-non-existent-release-redirecting-to-homepage_3676177255/recording.har
Labels: mb_enhanced_cover_art_uploads, new provider

#220 feat(caa upload): add Musik-Sammler provider
  src/mb_enhanced_cover_art_uploads/docs/supported_providers.md
  src/mb_enhanced_cover_art_uploads/providers/index.ts
  src/mb_enhanced_cover_art_uploads/providers/musik_sammler.ts
  tests/mb_enhanced_cover_art_uploads/providers/musik_sammler.test.ts
  tests/test-data/__recordings__/musik-sammler-provider_903330389/extracting-images_1310741912/extracts-covers-for-release_2308446907/recording.har
  tests/test-data/__recordings__/musik-sammler-provider_903330389/extracting-images_1310741912/throws-on-non-existent-release_1189313548/recording.har
Labels: mb_enhanced_cover_art_uploads, new provider

#222 docs: include installation instructions
  README.md
Labels: documentation, skip cd

#232 chore: remove legacy ECAU versions
  dist/mb_enhanced_cover_art_uploads.meta.js
  dist/mb_enhanced_cover_art_uploads.user.js
  mb_upload_to_caa_from_url.user.js
Labels: mb_enhanced_cover_art_uploads

#235 feat(caa upload): add RateYourMusic provider
  src/mb_enhanced_cover_art_uploads/docs/supported_providers.md
  src/mb_enhanced_cover_art_uploads/providers/index.ts
  src/mb_enhanced_cover_art_uploads/providers/rateyourmusic.ts
  tests/mb_enhanced_cover_art_uploads/providers/rateyourmusic.test.ts
  tests/test-data/__recordings__/rateyourmusic-provider_2781742196/extracting-images_1310741912/extracts-covers-for-release-when-logged-in_4212540480/recording.har
  tests/test-data/__recordings__/rateyourmusic-provider_2781742196/extracting-images_1310741912/throws-on-non-existent-release_1189313548/recording.har
  tests/test-data/__recordings__/rateyourmusic-provider_2781742196/extracting-images_1310741912/throws-on-release-when-not-logged-in_1524758216/recording.har
Labels: mb_enhanced_cover_art_uploads, new provider

#237 fix(lib): wait until function returns before retrying in `retryTimes`
  src/lib/util/async.ts
  tests/lib/util/async.test.ts
Labels: bug

#247 fix(caa upload): improve error message on invalid file types
  src/mb_enhanced_cover_art_uploads/fetch.ts
  tests/mb_enhanced_cover_art_uploads/fetch.test.ts
Labels: bug, mb_enhanced_cover_art_uploads

#253 chore(coll work attrs)!: deprecate now-unnecessary userscript
  README.md
  mb_collapse_work_attributes.user.js
Labels: qol_scripts

#246 chore(coll work attrs)!: remove now-unnecessary userscript
  mb_collapse_work_attributes.user.js
Labels: qol_scripts
