Repository ROpdebee/mb-userscripts, pull requests merged in 2021-12, with the labels that each got.

#274 fix(caa upload): Adapt to new Amazon page source code indentation
  src/mb_enhanced_cover_art_uploads/providers/amazon.ts
Labels: mb_enhanced_cover_art_uploads

#276 chore(deps): don't group all non-major renovate updates
  .github/renovate.json
Labels: skip cd, dependencies

#302 ci: speed up `npm install`
  .github/actions/setup/action.yml
Labels: ci

#300 fix(caa upload): also clean up PDF filenames
  src/mb_enhanced_cover_art_uploads/fetch.ts
Labels: bug, mb_enhanced_cover_art_uploads

#303 test: move unit tests into separate directory
  tests/unit/build/plugin-userscript.test.ts
  tests/unit/lib/MB/EditNote.test.ts
  tests/unit/lib/MB/URLs.test.ts
  tests/unit/lib/logging/consoleSink.test.ts
  tests/unit/lib/logging/logger.test.ts
  tests/unit/lib/util/array.test.ts
  tests/unit/lib/util/assert.test.ts
  tests/unit/lib/util/async.test.ts
  tests/unit/lib/util/blob.test.ts
  tests/unit/lib/util/dom.test.ts
  tests/unit/lib/util/domain_dispatch.test.ts
  tests/unit/lib/util/json.test.ts
  tests/unit/lib/util/metadata.test.ts
  tests/unit/lib/util/xhr.test.ts
  tests/unit/mb_enhanced_cover_art_uploads/fetch.test.ts
  tests/unit/mb_enhanced_cover_art_uploads/form.test.ts
  tests/unit/mb_enhanced_cover_art_uploads/image_dimensions.test.ts
  tests/unit/mb_enhanced_cover_art_uploads/maximise.test.ts
  tests/unit/mb_enhanced_cover_art_uploads/providers/7digital.test.ts
  tests/unit/mb_enhanced_cover_art_uploads/providers/allmusic.test.ts
  tests/unit/mb_enhanced_cover_art_uploads/providers/amazon.test.ts
  tests/unit/mb_enhanced_cover_art_uploads/providers/amazon_music.test.ts
  tests/unit/mb_enhanced_cover_art_uploads/providers/apple_music.test.ts
  tests/unit/mb_enhanced_cover_art_uploads/providers/bandcamp.test.ts
  tests/unit/mb_enhanced_cover_art_uploads/providers/base.test.ts
  tests/unit/mb_enhanced_cover_art_uploads/providers/beatport.test.ts
  tests/unit/mb_enhanced_cover_art_uploads/providers/deezer.test.ts
  tests/unit/mb_enhanced_cover_art_uploads/providers/discogs.test.ts
  tests/unit/mb_enhanced_cover_art_uploads/providers/find_images_spec.ts
  tests/unit/mb_enhanced_cover_art_uploads/providers/melon.test.ts
  tests/unit/mb_enhanced_cover_art_uploads/providers/musicbrainz.test.ts
  tests/unit/mb_enhanced_cover_art_uploads/providers/musik_sammler.test.ts
  tests/unit/mb_enhanced_cover_art_uploads/providers/qobuz.test.ts
  tests/unit/mb_enhanced_cover_art_uploads/providers/qub_musique.test.ts
  tests/unit/mb_enhanced_cover_art_uploads/providers/rateyourmusic.test.ts
  tests/unit/mb_enhanced_cover_art_uploads/providers/soundcloud.test.ts
  tests/unit/mb_enhanced_cover_art_uploads/providers/spotify.test.ts
  tests/unit/mb_enhanced_cover_art_uploads/providers/tidal.test.ts
  tests/unit/mb_enhanced_cover_art_uploads/providers/url_matching_spec.ts
  tests/unit/mb_enhanced_cover_art_uploads/providers/vgmdb.test.ts
  tests/unit/mb_enhanced_cover_art_uploads/seeding/base.test.ts
  tests/unit/mb_enhanced_cover_art_uploads/seeding/parameters.test.ts
  tests/unit/mb_enhanced_cover_art_uploads/test-utils/dummy-data.ts
  tests/unit/mb_enhanced_cover_art_uploads/test-utils/matchers.ts
Labels: tests

#304 refactor(caa upload): move `ArtworkTypeIDs` to `lib/MB/CoverArt`
  src/lib/MB/CoverArt.ts
  src/mb_enhanced_cover_art_uploads/fetch.ts
  src/mb_enhanced_cover_art_uploads/form.ts
  src/mb_enhanced_cover_art_uploads/providers/amazon.ts
  src/mb_enhanced_cover_art_uploads/providers/bandcamp.ts
  src/mb_enhanced_cover_art_uploads/providers/base.ts
  src/mb_enhanced_cover_art_uploads/providers/beatport.ts
  src/mb_enhanced_cover_art_uploads/providers/musicbrainz.ts
  src/mb_enhanced_cover_art_uploads/providers/qobuz.ts
  src/mb_enhanced_cover_art_uploads/providers/rateyourmusic.ts
  src/mb_enhanced_cover_art_uploads/providers/soundcloud.ts
  src/mb_enhanced_cover_art_uploads/providers/tidal.ts
  src/mb_enhanced_cover_art_uploads/providers/vgmdb.ts
  tests/unit/mb_enhanced_cover_art_uploads/fetch.test.ts
  tests/unit/mb_enhanced_cover_art_uploads/form.test.ts
  tests/unit/mb_enhanced_cover_art_uploads/providers/7digital.test.ts
  tests/unit/mb_enhanced_cover_art_uploads/providers/amazon.test.ts
  tests/unit/mb_enhanced_cover_art_uploads/providers/amazon_music.test.ts
  tests/unit/mb_enhanced_cover_art_uploads/providers/apple_music.test.ts
  tests/unit/mb_enhanced_cover_art_uploads/providers/bandcamp.test.ts
  tests/unit/mb_enhanced_cover_art_uploads/providers/base.test.ts
  tests/unit/mb_enhanced_cover_art_uploads/providers/beatport.test.ts
  tests/unit/mb_enhanced_cover_art_uploads/providers/deezer.test.ts
  tests/unit/mb_enhanced_cover_art_uploads/providers/melon.test.ts
  tests/unit/mb_enhanced_cover_art_uploads/providers/musicbrainz.test.ts
  tests/unit/mb_enhanced_cover_art_uploads/providers/qobuz.test.ts
  tests/unit/mb_enhanced_cover_art_uploads/providers/qub_musique.test.ts
  tests/unit/mb_enhanced_cover_art_uploads/providers/rateyourmusic.test.ts
  tests/unit/mb_enhanced_cover_art_uploads/providers/soundcloud.test.ts
  tests/unit/mb_enhanced_cover_art_uploads/providers/spotify.test.ts
  tests/unit/mb_enhanced_cover_art_uploads/providers/tidal.test.ts
  tests/unit/mb_enhanced_cover_art_uploads/providers/vgmdb.test.ts
  tests/unit/mb_enhanced_cover_art_uploads/seeding/parameters.test.ts
  tests/unit/mb_enhanced_cover_art_uploads/test-utils/matchers.ts
Labels: mb_enhanced_cover_art_uploads

#320 style: lint for unused ESLint comments
  .eslintrc.cjs
  package-lock.json
  package.json
  src/compat.ts
  tests/unit/lib/MB/URLs.test.ts
Labels: skip cd

#328 fix(ecau): prevent duplicate/broken Apple Music source URLs
  src/mb_enhanced_cover_art_uploads/maximise.ts
Labels: bug, mb_enhanced_cover_art_uploads

#336 feat(ecau): support RateYourMusic single URLs
  src/mb_enhanced_cover_art_uploads/providers/rateyourmusic.ts
  tests/unit/mb_enhanced_cover_art_uploads/providers/rateyourmusic.test.ts
Labels: enhancement, mb_enhanced_cover_art_uploads

#337 fix(ecau): properly sort track numbers in track image comment
  .eslintrc.cjs
  src/lib/util/array.ts
  src/mb_enhanced_cover_art_uploads/providers/base.ts
  tests/unit/mb_enhanced_cover_art_uploads/providers/base.test.ts
Labels: bug, mb_enhanced_cover_art_uploads

#339 fix(qol): add exception for Washington DC in live comment seeder
  mb_qol_seed_recording_disambiguation.user.js
Labels: bug, mb_qol_seed_recording_disambiguation

#350 fix(ecau): filter out more placeholder images in Amazon provider
  src/mb_enhanced_cover_art_uploads/providers/amazon.ts
Labels: bug, mb_enhanced_cover_art_uploads
