Repository ROpdebee/mb-userscripts, pull requests merged in 2024-07, with the labels that each got.

#780 build: Fix dynamic import of metadata modules on Windows (again)
  build/plugin-userscript.ts
Labels: build

#776 fix(inline recs): Handle video recordings
  mb_qol_inline_recording_tracks.user.js
Labels: bug, mb_qol_inline_recording_tracks

#777 fix(inline recs): Fix mb.org exclude rules and add mb.eu match rule
  mb_qol_inline_recording_tracks.user.js
Labels: bug, mb_qol_inline_recording_tracks

#764 feat(inline recs): Order tracks by ascending release dates
  mb_qol_inline_recording_tracks.user.js
Labels: enhancement, mb_qol_inline_recording_tracks

#766 fix: fix SoundCloud capitalization
  src/mb_enhanced_cover_art_uploads/docs/supported_providers.md
  src/mb_enhanced_cover_art_uploads/providers/base.ts
  src/mb_enhanced_cover_art_uploads/providers/index.ts
  src/mb_enhanced_cover_art_uploads/providers/soundcloud.ts
  tests/unit/mb_enhanced_cover_art_uploads/providers/soundcloud.test.ts
Labels: mb_enhanced_cover_art_uploads, style

#781 fix: remove extraneous spacing in JSX-transpiled HTML
  package-lock.json
Labels: bug

#785 fix(ecau): support more RateYourMusic release types
  src/mb_enhanced_cover_art_uploads/providers/rateyourmusic.ts
  tests/unit/mb_enhanced_cover_art_uploads/providers/rateyourmusic.test.ts
Labels: bug, mb_enhanced_cover_art_uploads
